@tailwind base;
@tailwind components; 
@tailwind utilities;

.animated-bg {
  background: linear-gradient(-45deg, #6b5bff, #b76eff, #00c4ff, #ff5a9e);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  filter: blur(40px); /* soft blur glow */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* equal to navbar height */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
